@import '../../../assets/css/variables.scss';

.signin-layout {
    background: $signbgColor;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-bg {
    background: $leftbgColor;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.right-bg {
    background: $rightbgColor;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}