* {
    /*去除浏览器默认内外边距*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.center-box {
    /*水平垂直居中*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-container {
    /* 存放回退按钮 放在左上方 */
    position: absolute;
    top: 0;
    left: 0;
}